@using T4TCase.ViewModel
@model LoginViewModel


<h1>Login</h1>
<form method="post" asp-controller="Login" asp-action="Login">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
    </div>
    <div>
        <p><input type="submit" value="Login" /></p>
        <p><a asp-action="Register">Register</a></p>
        <p><a asp-controller="Order" asp-action="Order">Skip loggin in</a></p>
    </div>
</form>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

